.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.Hbox{
    -fx-border-radius: 10px; /* Rayon de courbure des coins du bord */
}

.Hbox .label{

    -fx-font-size: 12px;
    -fx-font-family: "Souliyo Regular";
    -fx-text-fill: #000000;
    -fx-padding: 5px;
    -fx-background-color: transparent; /* Couleur de fond transparente */

}
.Hbox1 .button{
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-border-color: transparent; /* Couleur de bordure transparente */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-text-fill: #000000; /* Couleur du texte */
    -fx-padding: 5px 10px;
}
.Hbox2 .label{

    -fx-font-size: 10px; /* Taille de la police */
    -fx-font-family: "Souliyo Regular"; /* Police de caractères */
    -fx-font-weight: bold; /* Poids de la police (bold, normal, etc.) */
    -fx-text-fill: #333333; /* Couleur du texte */

    -fx-background-color: transparent; /* Couleur de fond transparente */

}

.scrollpane .scroll-bar:vertical,
.scrollpane .scroll-bar:horizontal {
    -fx-opacity: 0; /* Rendre la barre de défilement invisible */
    -fx-size: 0; /* Définir la taille de la barre de défilement à 0 */
}
.Hbox1{
-fx-border-color: #D9D9D9;
}
.Hbox1 .label {
    -fx-font-size: 11px; /* Taille de la police */
    -fx-font-family: "Arial"; /* Police de caractères */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}
.label:pressed {
    -fx-text-fill: #777777; /* Couleur du texte enfoncé */
}
.bar_recherche{
    -fx-background-color: white;

    -fx-border-radius: 20px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}
.btn_chercher{
    -fx-background-color: transparent; /* Couleur de fond transparente */
}
.scrollpane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
}
@font-face {
    font-family: 'Souliyo Regular';
    src: url('../font/Souliyo-Regular.ttf');
}
.Hbox1{
    -fx-border-radius: 10px; /* Rayon de courbure des coins du bord */
}
.Hbox1:pressed {
    -fx-background-color: #777777;
}
.hbox_filtre .button{
    -fx-background-color: transparent;
    -fx-border-color: #20749C; /* Couleur de bordure transparente */
    -fx-border-radius: 10px; /* Rayon des coins de la bordure */
    -fx-text-fill: #000000; /* Couleur du texte */

}
.hbox_filtre .button:hover{
    -fx-background-color: #20749C;
    -fx-border-color: #transparent; /* Couleur de bordure transparente */
    -fx-border-radius: 10px; /* Rayon des coins de la bordure */


}
.hbox_filtre{
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* Couleur de bordure transparente */
}
.custom-user{
    -fx-background-color: transparent;
    -fx-border-color: transparent;


}
.custom-user:hover{
    -fx-border-color:  transparent transparent #20749C transparent ; /* Couleur de la bordure */
    -fx-border-width: 0 0 2px 0; /* Épaisseur de la bordure (0 pour les autres côtés, 2px pour le côté droit) */
    -fx-text-fill: #20749C;
}
.vboxinfo{

 -fx-background-color:  #fdc847;
    -fx-border-radius: 20px;
    -fx-border-color:  #fdc847;


}
.vboxinfo .text-field{


    -fx-text-fill: black; /* Couleur du texte */
    -fx-font-size: 13px; /* Taille de la police */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 10px;
}
.add {

    -fx-text-fill: #000000;
    -fx-background-color: #20749C;
    -fx-border-radius: 20px;
    -fx-border-width: 2px;
}

.hboxbtn .button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}



