.custom-vbox .button {
    -fx-background-color: #F1F1F124;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-fill-width:  85;
    -fx-border-radius: 5px;
}
#btnsignup{
    -fx-background-color: #20749C;
   /*-fx-alignment: center;
    -fx-alignment: center;*/
}
.passwordd{

    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-border-color: #ccc; /* Couleur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-prompt-text-fill: #999; /* Couleur du texte de l'invite */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 5px; /* Remplissage intérieur */
}
.confirmpass{

    -fx-background-color: #F1F1F124;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-fill-width:  85;
    -fx-border-radius: 5px;
}
.split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.alert {
    -fx-background-color: #C8C8C8; /* Couleur de fond */
    -fx-text-fill: #000000; /* Couleur du texte */
    -fx-font-size: 13px; /* Taille de la police */
    -fx-border-radius: 50px;
    -fx-min-width: 250px; /* Largeur minimale de la fenêtre */
    -fx-max-width: 200px; /*
}

.alert .header-panel {
    -fx-background-color: #4CAF50; /* Couleur de fond de l'en-tête */
}

.alert .content.label {
    -fx-padding: 20px; /* Espacement du contenu */
}
